Testcases/complex/requestor/wsdl/xsd/3A20/3A20_MS_V01_00_PurchaseOrderConfirmationNotification.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="urn:rosettanet:specification:interchange:PurchaseOrderConfirmationNotification:dtdbase:01.00"
           xmlns="urn:rosettanet:specification:interchange:PurchaseOrderConfirmationNotification:dtdbase:01.00"
           xmlns:tns="urn:rosettanet:specification:interchange:PurchaseOrderConfirmationNotification:dtdbase:01.00">
    <xs:annotation>
        <xs:documentation>
            This schema was automatically generated by Syntext Dtd2Schema
            conversion tool (from file: D:\entwicklung\nbspaces\v21\simplifiedPIP3A20\src\wsdl\xsd\3A20\3A20_MS_V01_00_PurchaseOrderConfirmationNotification.dtd)
            Copyright (C) 2002, 2003 Syntext Inc. See http://www.syntext.com for updates.
        </xs:documentation>
    </xs:annotation>

    <xs:annotation>
        <xs:documentation>
            This is the XML Schema representation of PIP 3A20's dtd definition.
            The conversion is not equivalent to RosettaNet TPIR-PIP XML Schema definition.
            The conversion has only been performed for dealing with dtd document types within Web Services
            which do not allow for using DTDs.
            
            The root element to use is Pip3A20PurchaseOrderConfirmationNotification. 
        </xs:documentation>
    </xs:annotation>    
    <xs:element name="Pip3A20PurchaseOrderConfirmationNotification">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="fromRole"/>
                <xs:element ref="GlobalDocumentFunctionCode" minOccurs="0"/>
                <xs:element ref="PurchaseOrder"/>
                <xs:element ref="requestingDocumentDateTime"/>
                <xs:element ref="requestingDocumentIdentifier"/>
                <xs:element ref="thisDocumentGenerationDateTime"/>
                <xs:element ref="thisDocumentIdentifier"/>
                <xs:element ref="toRole"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    
    <xs:element name="AccountDescription">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="accountName"/>
                <xs:element ref="AccountNumber" minOccurs="0"/>
                <xs:element ref="billTo" minOccurs="0"/>
                <xs:element ref="CreditCard" minOccurs="0"/>
                <xs:element ref="financedBy" minOccurs="0"/>
                <xs:element ref="GlobalAccountClassificationCode" minOccurs="0"/>
                <xs:element ref="prePaymentCheckNumber" minOccurs="0"/>
                <xs:element ref="WireTransferIdentifier" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="AccountNumber">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="AffirmationIndicator">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="BusinessDescription">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GlobalBusinessIdentifier" minOccurs="0"/>
                <xs:element ref="GlobalSupplyChainCode" minOccurs="0"/>
                <xs:element ref="businessName" minOccurs="0"/>
                <xs:element ref="PartnerBusinessIdentification" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="BusinessTaxIdentifier">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="CarrierInformation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="accountIdentifier" minOccurs="0"/>
                <xs:element ref="GlobalCarrierCode"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CheckNumber">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="CityTax">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cityName"/>
                <xs:element ref="FinancialAmount"/>
                <xs:element ref="taxRate" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CommunicationsNumber">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="ContactInformation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="contactName" minOccurs="0"/>
                <xs:element ref="EmailAddress" minOccurs="0"/>
                <xs:element ref="facsimileNumber" minOccurs="0"/>
                <xs:element ref="telephoneNumber" minOccurs="0"/>
                <xs:element ref="PhysicalLocation" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ContractInformation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="contractIdentifier"/>
                <xs:element ref="primaryContractWith" minOccurs="0"/>
                <xs:element ref="secondaryContractWith" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CountableAmount">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="CreditCard">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="cardHolderName"/>
                <xs:element ref="creditCardIdentifier"/>
                <xs:element ref="expiryDate"/>
                <xs:element ref="GlobalCreditCardClassificationCode"/>
                <xs:element ref="ProprietaryCIDIdentifier" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="CustomerInformation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="customerProjectIdentifier" minOccurs="0"/>
                <xs:element ref="GlobalCustomerTypeCode"/>
                <xs:element ref="PartnerDescription"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DateStamp">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="DateTimeStamp">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="DayOfMonth">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="Discounts">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="discountDay" minOccurs="0"/>
                <xs:element ref="discountDays" minOccurs="0"/>
                <xs:element ref="discountPercent" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="DocumentReference">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DateTimeStamp" minOccurs="0"/>
                <xs:element ref="GlobalDocumentReferenceTypeCode"/>
                <xs:element ref="GlobalPartnerRoleClassificationCode" minOccurs="0"/>
                <xs:element ref="LineNumber" minOccurs="0"/>
                <xs:element ref="ProprietaryDocumentIdentifier"/>
                <xs:element ref="RevisionNumber" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="EmailAddress">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="FinancialAmount">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GlobalCurrencyCode"/>
                <xs:element ref="GlobalMonetaryAmountTypeCode" minOccurs="0"/>
                <xs:element ref="InvoiceChargeTypeCode" minOccurs="0"/>
                <xs:element ref="MonetaryAmount"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="FinancingTerms">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GlobalFinanceTermsCode" minOccurs="0"/>
                <xs:element ref="PaymentTerms" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="FreeFormText">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalAccountClassificationCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalBusinessIdentifier">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalCarrierCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalConfirmationTypeCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalCountryCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalCreditCardClassificationCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalCurrencyCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalCustomerTypeCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalDocumentFunctionCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalDocumentReferenceTypeCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalFinanceTermsCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalFreeOnBoardCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalGovernmentPriorityRatingCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalLocationIdentifier">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalMonetaryAmountTypeCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalPartnerClassificationCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalPartnerRoleClassificationCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalPaymentConditionCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalProductIdentifier">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalProductSubstitutionReasonCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalProductUnitOfMeasureCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalPurchaseOrderAcknowledgmentReasonCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalPurchaseOrderFillPriorityCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalPurchaseOrderStatusCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalPurchaseOrderTypeCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalShipmentTermsCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalShippingServiceLevelCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalSpecialFulfillmentRequestCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalSpecialHandlingCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalSupplyChainCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalTaxExemptionCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="GlobalTransportEventCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="InvoiceChargeTypeCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="LineNumber">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="MonetaryAmount">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="NationalBusinessTaxIdentifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BusinessTaxIdentifier"/>
                <xs:element ref="GlobalCountryCode"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="NationalPostalCode">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="NationalTax">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FinancialAmount"/>
                <xs:element ref="NationalBusinessTaxIdentifier" minOccurs="0"/>
                <xs:element ref="taxRate" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OrderQuantity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="requestedQuantity"/>
                <xs:element ref="scheduledShipQuantity" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="OrderShippingInformation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CarrierInformation" minOccurs="0"/>
                <xs:element ref="GlobalFreeOnBoardCode" minOccurs="0"/>
                <xs:element ref="GlobalShipmentTermsCode" minOccurs="0"/>
                <xs:element ref="GlobalShippingServiceLevelCode" minOccurs="0"/>
                <xs:element ref="GlobalSpecialFulfillmentRequestCode" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="packListRequirements" minOccurs="0"/>
                <xs:element ref="SpecialHandlingInstruction" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PartnerBusinessIdentification">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProprietaryBusinessIdentifier"/>
                <xs:element ref="ProprietaryDomainIdentifier"/>
                <xs:element ref="ProprietaryIdentifierAuthority" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PartnerDescription">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BusinessDescription"/>
                <xs:element ref="GlobalPartnerClassificationCode" minOccurs="0"/>
                <xs:element ref="ContactInformation" minOccurs="0"/>
                <xs:element ref="PhysicalLocation" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PartnerLocationIdentification">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProprietaryDomainIdentifier"/>
                <xs:element ref="ProprietaryIdentifierAuthority" minOccurs="0"/>
                <xs:element ref="ProprietaryLocationIdentifier"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PartnerProductIdentification">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GlobalPartnerClassificationCode"/>
                <xs:element ref="ProprietaryProductIdentifier"/>
                <xs:element ref="revisionIdentifier" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PartnerRoleDescription">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ContactInformation" minOccurs="0"/>
                <xs:element ref="GlobalPartnerRoleClassificationCode"/>
                <xs:element ref="PartnerDescription"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PaymentTerms">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="Discounts" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="GlobalPaymentConditionCode" minOccurs="0"/>
                <xs:element ref="netTermsDay" minOccurs="0"/>
                <xs:element ref="netTermsDays" minOccurs="0"/>
                <xs:element ref="percentDue" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PercentAmount">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="PhysicalAddress">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="addressLine1" minOccurs="0"/>
                <xs:element ref="addressLine2" minOccurs="0"/>
                <xs:element ref="addressLine3" minOccurs="0"/>
                <xs:element ref="cityName" minOccurs="0"/>
                <xs:element ref="GlobalCountryCode" minOccurs="0"/>
                <xs:element ref="NationalPostalCode" minOccurs="0"/>
                <xs:element ref="postOfficeBoxIdentifier" minOccurs="0"/>
                <xs:element ref="regionName" minOccurs="0"/>
                <xs:element ref="GlobalLocationIdentifier" minOccurs="0"/>
                <xs:element ref="PartnerLocationIdentification" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="PhysicalLocation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GlobalLocationIdentifier" minOccurs="0"/>
                <xs:element ref="PartnerLocationIdentification" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="PhysicalAddress" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProductIdentification">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GlobalProductIdentifier" minOccurs="0"/>
                <xs:element ref="PartnerProductIdentification" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProductLineItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="buyerLineItem"/>
                <xs:element ref="comments" minOccurs="0"/>
                <xs:element ref="ContractInformation" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="countryOfOrigin" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="CustomerInformation" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="DocumentReference" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="expediteReferenceIdentifier" minOccurs="0"/>
                <xs:element ref="GlobalProductUnitOfMeasureCode"/>
                <xs:element ref="GlobalPurchaseOrderAcknowledgmentReasonCode" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="GlobalPurchaseOrderFillPriorityCode" minOccurs="0"/>
                <xs:element ref="GlobalPurchaseOrderStatusCode"/>
                <xs:element ref="installAt" minOccurs="0"/>
                <xs:element ref="isDropShip"/>
                <xs:element ref="LineNumber"/>
                <xs:element ref="OrderQuantity"/>
                <xs:element ref="OrderShippingInformation" minOccurs="0"/>
                <xs:element ref="ProductIdentification"/>
                <xs:element ref="ProductSubLineItem" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="proprietaryInformation" minOccurs="0"/>
                <xs:element ref="requestedEvent"/>
                <xs:element ref="requestedShipFrom" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="requestedUnitPrice" minOccurs="0"/>
                <xs:element ref="scheduledEvent" minOccurs="0"/>
                <xs:element ref="shipFrom" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="ShippedQuantityInformation" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="shipTo" minOccurs="0"/>
                <xs:element ref="SubstituteProductReference" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="TaxExemptStatus" minOccurs="0"/>
                <xs:element ref="TaxSummary" minOccurs="0"/>
                <xs:element ref="totalLineItemAmount" minOccurs="0"/>
                <xs:element ref="unitPrice" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProductQuantity">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="ProductSubLineItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="buyerSubLineItem" minOccurs="0"/>
                <xs:element ref="comments" minOccurs="0"/>
                <xs:element ref="ContractInformation" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="countryOfOrigin" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="CustomerInformation" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="expediteReferenceIdentifier" minOccurs="0"/>
                <xs:element ref="GlobalProductUnitOfMeasureCode"/>
                <xs:element ref="GlobalPurchaseOrderAcknowledgmentReasonCode" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="GlobalPurchaseOrderFillPriorityCode" minOccurs="0"/>
                <xs:element ref="GlobalPurchaseOrderStatusCode"/>
                <xs:element ref="installAt" minOccurs="0"/>
                <xs:element ref="isDropShip"/>
                <xs:element ref="OrderQuantity"/>
                <xs:element ref="OrderShippingInformation" minOccurs="0"/>
                <xs:element ref="proprietaryInformation" minOccurs="0"/>
                <xs:element ref="requestedEvent"/>
                <xs:element ref="requestedShipFrom" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="requestedUnitPrice" minOccurs="0"/>
                <xs:element ref="scheduledEvent" minOccurs="0"/>
                <xs:element ref="shipFrom" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="ShippedQuantityInformation" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="shipTo" minOccurs="0"/>
                <xs:element ref="subLineItem"/>
                <xs:element ref="unitPrice" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ProprietaryBusinessIdentifier">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="ProprietaryCIDIdentifier">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="ProprietaryDocumentIdentifier">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="ProprietaryDomainIdentifier">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="ProprietaryIdentifierAuthority">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="ProprietaryLocationIdentifier">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="ProprietaryProductIdentifier">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="ProprietaryReferenceIdentifier">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="PurchaseOrder">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AccountDescription" minOccurs="0"/>
                <xs:element ref="comments" minOccurs="0"/>
                <xs:element ref="ContractInformation" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="DocumentReference" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="FinancingTerms" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="generalServicesAdministrationNumber" minOccurs="0"/>
                <xs:element ref="GlobalConfirmationTypeCode" minOccurs="0"/>
                <xs:element ref="GlobalGovernmentPriorityRatingCode" minOccurs="0"/>
                <xs:element ref="GlobalPurchaseOrderAcknowledgmentReasonCode" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="GlobalPurchaseOrderFillPriorityCode" minOccurs="0"/>
                <xs:element ref="GlobalPurchaseOrderStatusCode"/>
                <xs:element ref="GlobalPurchaseOrderTypeCode" maxOccurs="unbounded"/>
                <xs:element ref="governmentContractIdentifier" minOccurs="0"/>
                <xs:element ref="installAt" minOccurs="0"/>
                <xs:element ref="isDropShip"/>
                <xs:element ref="OrderShippingInformation" minOccurs="0"/>
                <xs:element ref="ProductLineItem" maxOccurs="unbounded"/>
                <xs:element ref="proprietaryInformation" minOccurs="0"/>
                <xs:element ref="requestedEvent" minOccurs="0"/>
                <xs:element ref="requestedShipFrom" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="scheduledEvent" minOccurs="0"/>
                <xs:element ref="SecondaryBuyer" minOccurs="0"/>
                <xs:element ref="shipFrom" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="shipTo" minOccurs="0"/>
                <xs:element ref="TaxExemptStatus" minOccurs="0"/>
                <xs:element ref="TaxSummary" minOccurs="0"/>
                <xs:element ref="totalAmount" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RegionalBusinessTaxIdentifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="BusinessTaxIdentifier"/>
                <xs:element ref="regionName"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RegionalTax">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FinancialAmount"/>
                <xs:element ref="RegionalBusinessTaxIdentifier" minOccurs="0"/>
                <xs:element ref="taxRate" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="RevisionNumber">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="SecondaryBuyer">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PartnerDescription"/>
                <xs:element ref="secondaryBuyerPurchaseOrderIdentifier" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="ShippedQuantityInformation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DateTimeStamp"/>
                <xs:element ref="DocumentReference" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="shippedQuantity"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SpecialHandlingInstruction">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GlobalSpecialHandlingCode" minOccurs="0" maxOccurs="unbounded"/>
                <xs:element ref="specialHandlingText" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="SubstituteProductReference">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GlobalProductSubstitutionReasonCode"/>
                <xs:element ref="ProductIdentification" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TaxExemptStatus">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="isTaxExempt"/>
                <xs:element ref="TaxExemption" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TaxExemption">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GlobalTaxExemptionCode"/>
                <xs:element ref="taxExemptionCertificationIdentifier"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TaxSummary">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CityTax" minOccurs="0"/>
                <xs:element ref="NationalTax" minOccurs="0"/>
                <xs:element ref="RegionalTax" minOccurs="0"/>
                <xs:element ref="totalAmount" minOccurs="0"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="TimeStamp">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="TransportationEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="beginTime" minOccurs="0"/>
                <xs:element ref="DateStamp"/>
                <xs:element ref="endTime" minOccurs="0"/>
                <xs:element ref="GlobalTransportEventCode"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="WireTransferIdentifier">
        <xs:complexType mixed="true">
        </xs:complexType>
    </xs:element>
    <xs:element name="accountIdentifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProprietaryReferenceIdentifier"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="accountName">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addressLine1">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addressLine2">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="addressLine3">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="beginTime">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TimeStamp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="billTo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PartnerDescription"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="businessName">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="buyerLineItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LineNumber"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="buyerSubLineItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LineNumber"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="cardHolderName">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="cityName">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="comments">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="contactName">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="contractIdentifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProprietaryDocumentIdentifier"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="countryOfOrigin">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="GlobalCountryCode"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="creditCardIdentifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProprietaryReferenceIdentifier"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="customerProjectIdentifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProprietaryReferenceIdentifier"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="discountDay">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DayOfMonth"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="discountDays">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CountableAmount"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="discountPercent">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PercentAmount"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="endTime">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TimeStamp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="expediteReferenceIdentifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProprietaryReferenceIdentifier"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="expiryDate">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DateStamp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="facsimileNumber">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CommunicationsNumber"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="financedBy">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PartnerDescription"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="fromRole">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PartnerRoleDescription"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="generalServicesAdministrationNumber">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProprietaryDocumentIdentifier"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="governmentContractIdentifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProprietaryDocumentIdentifier"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="installAt">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PartnerDescription"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="isDropShip">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AffirmationIndicator"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="isTaxExempt">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="AffirmationIndicator"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="netTermsDay">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DayOfMonth"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="netTermsDays">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CountableAmount"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="packListRequirements">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="percentDue">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PercentAmount"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="postOfficeBoxIdentifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="prePaymentCheckNumber">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CheckNumber"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="primaryContractWith">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PartnerDescription"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="proprietaryInformation">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="regionName">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="requestedEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TransportationEvent"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="requestedQuantity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProductQuantity"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="requestedShipFrom">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PhysicalAddress"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="requestedUnitPrice">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FinancialAmount"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="requestingDocumentDateTime">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DateTimeStamp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="requestingDocumentIdentifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProprietaryDocumentIdentifier"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="revisionIdentifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="scheduledEvent">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="TransportationEvent"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="scheduledShipQuantity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProductQuantity"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="secondaryBuyerPurchaseOrderIdentifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProprietaryDocumentIdentifier"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="secondaryContractWith">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PartnerDescription"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="shipFrom">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PartnerDescription"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="shipTo">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PartnerDescription"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="shippedQuantity">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProductQuantity"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="specialHandlingText">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FreeFormText"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="subLineItem">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="LineNumber"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="taxExemptionCertificationIdentifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProprietaryReferenceIdentifier"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="taxRate">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PercentAmount"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="telephoneNumber">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="CommunicationsNumber"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="thisDocumentGenerationDateTime">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="DateTimeStamp"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="thisDocumentIdentifier">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ProprietaryDocumentIdentifier"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="toRole">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="PartnerRoleDescription"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totalAmount">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FinancialAmount"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="totalLineItemAmount">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FinancialAmount"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="unitPrice">
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="FinancialAmount"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>
