Testcases/complex/bpel_resp/wsdl/BackendCallback.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions
	
	xmlns="http://schemas.xmlsoap.org/wsdl/"
	name="BackendCallback"
		   
	xmlns:tns="http://lspi.wiai.uniba.de/prototype/wsdl/collaboration/transaction/backend/callback/1-0" 
	targetNamespace="http://lspi.wiai.uniba.de/prototype/wsdl/collaboration/transaction/backend/callback/1-0" 
	
	xmlns:transactionControlMessages="http://lspi.wiai.uniba.de/prototype/xsd/transaction/controlMessages/1-0"
	xmlns:businessDocumentEnvelopes="http://lspi.wiai.uniba.de/prototype/xsd/businessDocumentEnvelopes/1-0"
	xmlns:correlation="http://lspi.wiai.uniba.de/prototype/wsdl/correlation/1-0"
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:vprop="http://docs.oasis-open.org/wsbpel/2.0/varprop"
	xmlns:plnk="http://docs.oasis-open.org/wsbpel/2.0/plnktype"
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:header="http://lspi.wiai.uniba.de/prototype/xsd/header/1-0"
	>
	
	<plnk:partnerLinkType name="BackendCallback">
	    <plnk:role name="BackendCallbackPortTypeRole" portType="tns:BackendCallbackPortType"/>
	</plnk:partnerLinkType>
	
	<import namespace="http://lspi.wiai.uniba.de/prototype/wsdl/correlation/1-0" location="Correlation.wsdl" />
	
    <types>
        <xsd:schema targetNamespace="http://lspi.wiai.uniba.de/prototype/wsdl/collaboration/transaction/backend/callback/1-0">
			<xsd:import namespace="http://lspi.wiai.uniba.de/prototype/xsd/transaction/controlMessages/1-0" schemaLocation="xsd/TransactionControlMessages.xsd"/>        		
			<xsd:import namespace="http://lspi.wiai.uniba.de/prototype/xsd/businessDocumentEnvelopes/1-0" schemaLocation="xsd/BusinessDocumentEnvelopes.xsd"/>        		
        </xsd:schema>
    </types>
    
    <message name="BusinessDocumentMessage">
        <part name="BusinessDocumentPart" element="businessDocumentEnvelopes:BusinessDocumentEnvelope"/>
    </message>
    <message name="ReceiptAcknowledgementMessage">
        <part name="ReceiptAcknowledgementPart" element="transactionControlMessages:ReceiptAcknowledgement"/>
    </message>
    <message name="AcceptanceAcknowledgementMessage">
        <part name="AcceptanceAcknowledgementPart" element="transactionControlMessages:AcceptanceAcknowledgement"/>
    </message>
    <message name="ReceiptAcknowledgementExceptionMessage">
        <part name="ReceiptAcknowledgementExceptionPart" element="transactionControlMessages:ReceiptAcknowledgementException"/>
    </message>
    <message name="AcceptanceAcknowledgementExceptionMessage">
        <part name="AcceptanceAcknowledgementExceptionPart" element="transactionControlMessages:AcceptanceAcknowledgementException"/>
    </message>
    <message name="ExceptionMessage">
        <part name="ExceptionPart" element="transactionControlMessages:Exception"/>
    </message>
    <message name="PersistMessage">
        <part name="PersistPart" element="transactionControlMessages:Persist"/>
    </message>
    <message name="SolicitBusinessDocumentMessage">
        <part name="SolicitBusinessDocumentPart" element="transactionControlMessages:SolicitBusinessDocument"/>
    </message>
    
    <portType name="BackendCallbackPortType">
        <operation name="ExceptionOperation">
            <input name="input1" message="tns:ExceptionMessage"/>
        </operation>
        <operation name="BusinessDocumentOperation">
            <input name="input2" message="tns:BusinessDocumentMessage"/>
        </operation>
        <operation name="ReceiptAcknowledgementOperation">
            <input name="input3" message="tns:ReceiptAcknowledgementMessage"/>
        </operation>
        <operation name="AcceptanceAcknowledgementOperation">
            <input name="input4" message="tns:AcceptanceAcknowledgementMessage"/>
        </operation>
        <operation name="ReceiptAcknowledgementExceptionOperation">
            <input name="input5" message="tns:ReceiptAcknowledgementExceptionMessage"/>
        </operation>
        <operation name="AcceptanceAcknowledgementExceptionOperation">
            <input name="input6" message="tns:AcceptanceAcknowledgementExceptionMessage"/>
        </operation>
        <operation name="PersistOperation">
            <input name="input7" message="tns:PersistMessage"/>
        </operation>
        <operation name="SolicitBusinessDocumentOperation">
            <input name="input8" message="tns:SolicitBusinessDocumentMessage"/>
        </operation>
    </portType>
    
    <binding name="BackendCallbackBinding" type="tns:BackendCallbackPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="ExceptionOperation">
            <soap:operation/>
            <input name="input1">
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="BusinessDocumentOperation">
            <soap:operation/>
            <input name="input2">
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="ReceiptAcknowledgementOperation">
            <soap:operation/>
            <input name="input3">
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="AcceptanceAcknowledgementOperation">
            <soap:operation/>
            <input name="input4">
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="ReceiptAcknowledgementExceptionOperation">
            <soap:operation/>
            <input name="input5">
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="AcceptanceAcknowledgementExceptionOperation">
            <soap:operation/>
            <input name="input6">
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="PersistOperation">
            <soap:operation/>
            <input name="input7">
                <soap:body use="literal"/>
            </input>
        </operation>
        <operation name="SolicitBusinessDocumentOperation">
            <soap:operation/>
            <input name="input8">
                <soap:body use="literal"/>
            </input>
        </operation>
    </binding>
    
    <service name="BackendCallbackService">
        <port name="BackendCallbackPort" binding="tns:BackendCallbackBinding">
        	<soap:address location="http://localhost:3000/backend/Transaction-rev1-btaRAandAAandTTPv1-role-2/BackendCallback"/>
            
        </port>
    </service>
    
    <!-- There is no strict need for defining property aliases at this point because the backend is not a BPEL -->
</definitions>
